<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('./header.ejs') %>
    <title>Team02 | Not Found</title>
  </head>
  <body class="pt-5">
    <%- include('./nav.ejs') %>
    <%- include('./toaster.ejs') %>
    <%- include('./flash.ejs') %>
    <div class="container mb-3">
      <div class="row pt-3x">
        <div class="d-flex justify-content-between align-items-center pt-3 pb-3">
          <h1 class="text-center w-100">Page Not Found</h1>
        </div>
        <div class="d-flex justify-content-center">
          <img src="/images/Mormon_Jesus_Christ_and_Satan.jpg" alt="sad, so sad">
        </div>
      </div>
    </div>
  </body>
</html>
