  <script>
    function closeFlash() {
      document.getElementsByClassName("flash-message")[0].style.display = "none";
    }
  </script>
  <div class="flash-message">
    <% for (context in flashes) {%>
    <div class="alert alert-<%= context %>">
      <%= flashes[context]; %>
      <% if (context === 'danger') {%>
          <p class="close-flash" onclick="closeFlash()">X</p>
      <% } %> <% } %>
    </div>
    
  </div>