<div class="container">
  <div class="row">
    <% for (context in flashes) {%>
      <div class="mt-3 alert alert-<%= context %> col-sm-12">
        <%= flashes[context]; %>
      </div>
    <% } %>
  </div>
</div>
