<link rel="icon" href="/images/litzen-logo.svg">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/main.css">
<link rel="icon" href="/icon.png" type="image/png">
<meta name="csrf-token" content="<%= csrfToken  %>">
<script type="text/javascript">
  function getCSRFToken() {
    return document.querySelector('meta[name="csrf-token"]').getAttribute('content');
  }
</script>
<script src="https://kit.fontawesome.com/63dd410bee.js" crossorigin="anonymous"></script>
<template id="loader-template">
  <!-- Shamelessly stolen from https://loading.io/css/ -->
  <div class="lds-ring">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</template>
