<div class="header">
  <nav class="main-header_nav">
    <ul class="main-header_item-list">
      <li class="main-header_item">
          <a href="/"><img src="/images/litzen-logo-white.svg" alt=""></a>
      </li>
    </ul>
    <ul class="main-header_item-list">
      <li class="main-header_item">
        <a href="#"><span class="icon"><i class="fas fa-user-circle fa-lg"></i></span></a>
      </li>
      <li class="main-header_item caret">
        <a href="#"><span class="icon"><i class="fas fa-caret-down fa-md"></i></span></a>
      </li>
    </ul>
  </nav>
</div>