.contact-card {
  background-color: #eee;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}

.contact-card > span {
  font-weight: bold;
  font-size: 0.9rem;
  margin-top: 0.5rem;
  display: block;
}

.delete-method {
  cursor: pointer;
}

.input-section {
  margin-bottom: 1rem;
}

.error-message {
  color: darkred;
  margin-bottom: 0;
}
