:root {
  --color-main: #1B4B47;
  --color-secondary: #007981;
  --color-link: #FED766;
  --color-visited-link: #F5B400;
  --color-light: #dfffec;
  --color-dark: #010101;
}

html, body { 
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
  height: 100vh;
  background-color: var(--color-light);
}


nav {
  background-color: var(--color-main);
  padding: 1rem;
  color: var(--color-light);
  grid-area: nav;
}

nav a {
  color: var(--color-light);
}

a {
  color: var(--color-link);
}

main {
  grid-area: main;
}

.organization {
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--color-secondary);
}

.group {
  font-size: 1.2rem;
  padding: 0.25rem 0.5rem;
}

.split-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.group.active {
  background-color: var(--color-secondary);
  color: var(--color-light);
}

.group.active > .group__link{
  color: var(--color-light);
}

.group__link {
  color: var(--color-dark);
  text-decoration: none;
}

#groups {
  grid-area: groups;
}

#extras {
  grid-area: extras;
}

main, #groups, #extras {
  padding: 1rem;
  overflow: auto;
}

#groups > h2 {
  color: var(--color-light);
  background-color: var(--color-main);
  padding: 0.25rem 0.5rem;
  margin: 0;
}

.message {
  background-color: var(--color-main);
  margin-bottom: 1rem;
  padding: 1rem 0.5rem;
  border-radius: .5rem;
}

.message__meta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0.5rem;
}

.message__header {
  display: flex;
  flex-direction: row;
  padding-bottom: 0.25rem;
  color: var(--color-light);
}

.message__profile-pic {
  width: 3rem;
  height: 3rem;
  background-color: var(--color-light);
  border-radius: 100%;
}

.message__body {
  background-color: var(--color-light);
  padding: 0.25rem;
  border-radius: 0.25rem;
}

/*************************
** LOGIN / SIGNUP PAGES **
**************************/ 

body {
   background-color: var(--color-main);
}

.login-body {
  display: block;
}

.login-page {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  grid-template-rows: 1fr;
  height: 100vh;
}

.signup-page {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  background-color: var(--color-light);
  border-radius: 10px;
  /* height: 50%; */
  width: 60%;
  align-self: center;
  margin: 0 auto;
  padding: 2rem;
}

.login-wrapper {
  grid-column: 1 / 2;
}

.signup-wrapper {
  grid-column: 2 / 3;
}

.form-wrapper .litzen-logo {
  width: 50%
}

.form-wrapper h1 {
  margin: 0 auto 0.5rem ;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
}

.login-form input{
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  /* width: 100%; */
  border: rgb(184, 184, 184) solid 2px;
  border-radius: 0.35rem;
}

.form-text {
  color: var(--color-dark);
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.btn-filled {
  background-color: var(--color-secondary);
  color: var(--color-light);
  border: none;
  border-radius: 0.35rem;
  padding: 0.5rem;
  width: 100%;
  cursor: pointer;
  text-decoration: none;
}

.btn-hollow {
  background-color: var(--color-light);
  color: var(--color-secondary);
  border: 2px solid var(--color-secondary);
  border-radius: 0.35rem;
  padding: 0.5rem;
  width: 100%;
  cursor: pointer;
  text-decoration: none;
}

.login-image {
  grid-column: 2 / 3;
  grid-row: 1;
  height: 100%;
  overflow: hidden;
  align-self: center;
}

.signup-image {
  grid-column: 1 / 2;
  grid-row: 1;
  height: 100%;
  overflow: hidden;
  align-self: center;
}

.login-image img {
  position: relative;
  width: 100%;
  height: 140%;
  object-fit: cover;
  border-radius: 100% 0 0 100%;
  object-position: -250px 0;
  top: -22%;
}

.signup-image img {
  position: relative;
  width: 100%;
  height: 140%;
  object-fit: cover;
  border-radius: 0 100% 100% 0;
  object-position: -250px 0;
  top: -22%;
}

/* Large Screens */
@media only screen and (min-width: 1220px) {
  body {
    display: grid;
    grid-template:"nav nav nav nav"
      "groups main main extras";
    grid-template-rows: 3rem auto;
  }
}
