.organization {
  padding-bottom: 0.5rem !important;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--secondary);
}

.group {
  padding: 0.125rem 0.25rem;
}

.group.active {
  background-color: var(--secondary);
  color: var(--light);
}

.group.active > .group__link{
  color: var(--light);
}

.no-style {
  color: black;
  text-decoration: none;
}
