
/* Remove unnecessary margins/padding */
* {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0
}

:root {
  /* Color Styles */
  --main: #1B4B47;
  --secondary: #007981;
  --link: #FED766;
  --visited-link: #F5B400;
  --button: #009FB7;

  /* Save header height to properly set `padding-top` and `margin-top` for sticky content */
  --header-height: calc(1rem * 1.5 + 1rem * 2 + 1rem);

  /* Save footer height to properly set `bottom` and `min-height` for sticky content */
  --footer-height: calc(.8rem * 1.5 + .5rem * 2);

  --light: #fefefe;
  --dark: #010101;
}

nav a {
  color: var(--light);
}

nav a img {
  width: 120px;
  margin-top: 3px;
  padding-top: 0.5rem;
}

a {
  color: var(--link);
}

a.btn-hollow {
  font-size: 0.8rem;
}

.btn-hollow {
  background-color: var(--light);
  color: var(--secondary);
  border: 2px solid var(--secondary);
  border-radius: 0.35rem;
  padding: 0.5rem;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

.btn-hollow:hover {
  animation-name: btnfade;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
}

@keyframes btnfade {
  from {
    background-color: var(--light);
    color: var(--secondary);
  }

  to {
    background-color: var(--secondary);
    color: var(--light);
  }
}

/* Layout Format */
.wrapper {
  display: grid;
  /* Header and footer span the entire width, sidebars and content are fixed, with empty space on sides */
  grid-template-areas:
    "header header header header header"
    "empty_left sidebar_1 content sidebar_2 empty_right"
    "footer footer footer footer footer";
  /* Only expand middle section vertically (content and sidebars) */
  grid-template-rows: 0fr 1fr 0fr;
  /* 100% width, but static widths for content and sidebars */
  grid-template-columns: .5fr 2fr 5fr 2fr .5fr;
  /* Force grid to be at least the height of the screen */
  min-height: 100vh;
}

.sticky-spacer {
  flex-grow: 1;
}

.sticky-content {
  position: sticky;
  bottom: var(--footer-height);
  min-height: calc(100vh - var(--footer-height));
  box-sizing: border-box;

  --padding: 2rem;
  padding: calc(var(--header-height) + var(--padding)) var(--padding) var(--padding);
  margin-top: calc(0px - var(--header-height));
}



/* Header Navigation */
.header {
  grid-area: header;

  /* Stick header to top of grid */
  position: sticky;
  top: 0;
  /* Ensure header appears on top of content/sidebars */
  z-index: 1;

  /* General appearance */
  background-color: #1B4B47;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.75;
}

.header h1,
.header h1 a {
  color: white;
  text-decoration: none;
}

.main-header_nav {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.main-header_item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: stretch;
  padding: 0 0.5rem;
}

.main-header_item {
  margin-left: 0.5rem;
  padding: 0;
  display: flex;
  align-items: center;
}

.main-header_item.caret {
  padding: 10px 0;
}

.icon {
  color: white;
}



/* General Sidebar Format */
.sidebar-1,
.sidebar-2 {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
}



/* Left Sidebar */
.sidebar-1 {
  grid-area: sidebar_1;

  /* Styling to match reference */
  background-color: white;
}

.groups h3 {
  background-color: #1B4B47;
  font-weight: 400;
  padding: .2rem 0 .5rem .5rem;
  color: white;
}

.groups h4 {
  text-align: center;
  color: #007981;
}

.groups ul {
  padding: 0 .5rem;
}

.groups li {
  margin-top: .5rem;
}

.groups a {
  text-decoration: none;
  color: black;
}

/* Right Sidebar */
.sidebar-2 {
  grid-area: sidebar_2;

  /* Styling to match reference */
  background-color: white;
}

.cardS {
  background-color: #1B4B47;
}

.cardS h2 {
  color: white;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

#event h5,
#event p,
#quote h5,
#quote p {
  color: white;
}

#quote h5 {
  margin-top: .5rem;
}

#event,
#quote {
  padding: .75rem;
  margin-top: 1rem;
}



/* Message Card Format */
.card,
.cardS {
  margin-bottom: 1rem;
  padding: 1rem 0;
}



/* Feed Format */
.content {
  grid-area: content;

  /* Styling to match reference */
  background-color: white;
}

.split-heading {
  margin-bottom: 1rem;
}

.card {
  background-color: #1B4B47;
  border-radius: 9px;
}

.cardMessage {
  background-color: white;
  padding: 0.75rem;
  margin: 0.5rem 1rem;
  border-radius: 5px;
}

.cardTitle {
  display: flex;
  justify-content: space-between;
  line-height: 10px;
  color: black;
  padding: 12px;
}

.cardTitle div {
  display: flex;
}

#userInfo {
  display: block;
  margin-left: 10px;
}

.cardTitle h2 {
  color: white;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.cardTitle p {
  color: white;
  margin-top: .5rem;
  font-style: italic;
}

.split-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mt-3 {
  margin-top: 1rem;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid var(--light);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--light) transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

.form-control {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border: rgb(184, 184, 184) solid 2px;
  border-radius: 0.35rem;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



/* Mobile View */
@media (max-width: 768px) {
  .wrapper {
    grid-template-columns: 1fr;
  }

  .sidebar-1,
  .sidebar-2 {
    display: none;
  }
}

.main-header_item {
  font-size: 1rem;
  color: var(--light);
  cursor: pointer;
}

.main-header_item:hover {
  background-color: var(--secondary);
}

.main-header_item a {
  text-decoration: none;
  padding: .875rem 1rem;
}

/* The dropdown container */
.dropdown {
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  padding: .875rem 1rem;
}

.dropdown-content {
 display: none;
 position: absolute;
 top: var(--header-height);
 background-color: var(--light);
 min-width: 10rem;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

.dropdown-content a {
 color: var(--dark);
 padding: .5rem 1rem;
 display: block;
 text-align: left;
}

.dropdown-content a:hover {
 background-color: #ddd;
}

.dropdown:hover .dropdown-content {
 display: block;
}

/**************************
** Flash Messages Styles **
***************************/
.flash-container {
  min-width: 250px;
  /* margin-left: 125px; */
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 30px;

}

 .alert {
    padding: 20px;
    margin-bottom: 15px;
    top: 50px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 250px;
    margin-left: -20%;
    background-color: #333;
    text-align: center;
    border-radius: 10px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
 }

 .close-flash {
  margin-left: 1rem;
  padding: 2px 5px;
  border: 1px solid white;
  border-radius: 10%;
  cursor: pointer;
 }

 .alert-success {
  background-color: #4CAF50;
  color: white;
  opacity: 0;
  animation-name: flash;
  animation-duration: 3s;
  animation-iteration-count: 1;
  }

  @keyframes flash {
    0% {opacity: 0%;}
    25% {opacity: 100%;}
    75% {opacity: 100%;}
    99% {opacity: 0%;}
    100% {position: absolute; left: -999999999}
  }


.alert-danger {
  background-color: #f44336;
  color: white;
  animation-name: appear;
  animation-duration: 1s;
}

@keyframes appear {
  from {opacity: 0%;}
  to {opacity: 100%;}
}

.mb-3 {
  margin-bottom: 1rem;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.pt-3 {
  padding-top: 1rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.w-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}
