.organization-card {
  background-color: var(--main);
  color: var(--light);
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.organization-card__name {
  font-weight: bold;
  font-size: 1.3rem;
}

.organization-card__description {
  margin: 0;
}

.admin-panel {
  background-color: var(--light);
  color: var(--dark);
  padding: 0.25rem;
  border-radius: 0.25rem;
}

.admin-panel__controls {
  display: flex;
  margin-top: 0.25rem;
}
