<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <%- include('../common/header.ejs') %>
        <link rel="stylesheet" href="/css/groupMessage.css">
        <title>Litzen | New Message</title>
</head>

<body>
    <%- include('../common/nav.ejs') %>
        <div class="wrapper">
            <div class="sidebar-1">
                <div class="sticky-spacer"></div>
                <div class="sticky-content">

                </div>
            </div>
            <div class="content">
                <div class="sticky-spacer"></div>
                <div class="sticky-content">
                    <form class="cardMessageGMC">
                        <label for="createPostContainer" class="labelGMC">Create a Post</label>
                        <textarea id="textAreaGMC" name="" rows="4" cols="50"> What do you want to talk about?
                        </textarea>
                        <br><br>
                        <label for="postIn" class="labelGMC">Post In</label>

                        <!-- <input type="submit" value="Publish"> -->
                        <button><a href="/">Publish</a></button>
                    </form>
                </div>
            </div>
            <div class="sidebar-2">
                <div class="sticky-spacer"></div>
                <div class="sticky-content">

                </div>
            </div>
            <footer></footer>
        </div>
</body>

</html>