<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../common/header.ejs') %>
    <title>Litzen | Login</title>
    <script src="/login.js" charset="utf-8" defer></script>
    <link rel="stylesheet" href="/css/login.css">
  </head>
  <body class="login-body">
    <%- include('../common/toaster.ejs') %> 
    <%- include('../common/flash.ejs') %>
    <div class="login-page">
      <div class="form-wrapper login-wrapper">
        <img src="/images/litzen-logo-black.svg" alt="Litzen Logo" class="litzen-logo" />
        <h1>Log in</h1>
        <form class="login-form" action="/auth/login" method="post">
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Email"
            required
          />
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Password"
            required
          />
          <input type="hidden" name="_csrf" value="<%= csrfToken  %>" />
          <input
            type="submit"
            name="button"
            class="btn-filled"
            value="Log In"
          />
        </form>
        <div class="not-member">
          <p>Not yet a member?</p>
          <a class="btn-hollow" href="/auth/signup">Create Account</a>
        </div>
      </div>
      <div class="login-image">
        <img src="../images/login-image.jpg" alt="">
      </div>
    </div>
  </body>
</html>
