<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../common/header.ejs') %>
    <title>Litzen | Sign Up</title>
    <link rel="stylesheet" href="/css/login.css">
  </head>
  <body class="login-body">
    <%- include('../common/toaster.ejs') %>
    <%- include('../common/flash.ejs') %>
    <div class="signup-page">
      <div class="form-wrapper signup-wrapper">
        <a href="/"><img src="/images/litzen-logo-black.svg" alt="Litzen Logo" class="litzen-logo" /></a>
        <h1>Sign Up</h1>
        <form class="login-form" action="/auth/signup" method="POST">
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Email"
            required
          />
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Password"
            minlength="8"
            required
          />
          
          <div id="passwordInstructions"></div>
          <input
            type="password"
            id="confirmPassword"
            name="confirmPassword"
            class="form-control"
            placeholder="Confirm Password"
            minlength="8"
            required
          />
          <hr>
          <input
            type="firstName"
            id="firstName"
            name="firstName"
            class="form-control"
            placeholder="First Name"
            required
          />
          <input
            type="lastName"
            id="lastName"
            name="lastName"
            class="form-control"
            placeholder="Last Name"
            required
          />
          <input type="hidden" name="_csrf" value="<%= csrfToken  %>" />
          <input type="submit" class="btn-filled" value="Sign Up" />
        </form>
      </div>
      <div class="signup-image">
        <img src="../images/login-image.jpg" alt="" />
      </div>
    </div>
    <script src="../js/signup.js" charset="utf-8"></script>
  </body>
</html>
